<div class="login-page">

  <%= form_with url: "/login", method: :post, class: "login-form" do |f| %>

    <label>Email</label><br>
    <%= f.email_field :email, placeholder: "Enter your email" %><br><br>

    <label>Password</label><br>
    <%= f.password_field :password, placeholder: "Enter your password" %><br><br>

    <%= f.submit "Login" %><br><br>

    <%= link_to "Forgot Password?", "#" %><br>
    <%= link_to "Create Account", "/register/signup" %>

  <% end %>

</div>