<div class="register-page">

  <%= form_with url: "/register/signup",
                method: :post,
                class: "register-form" do |f| %>

    <label>Name</label><br>
    <%= f.text_field :name, placeholder: "Enter your name" %><br><br>

    <label>Email</label><br>
    <%= f.email_field :email, placeholder: "Enter your email" %><br><br>

    <label>Password</label><br>
    <%= f.password_field :password, placeholder: "Enter your password" %><br><br>

    <%= f.submit "Register" %><br><br>

    <%= link_to "Already have an account? Login", "/home/login" %>

  <% end %>

</div>